{
  "comments": false,
  "ignore": ["**/*.d.ts"],
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 10
        }
      }
    ]
  ]
}
